
/*variabelen*/
:root {
  --bg-color: #FAEBDD;   /* background color*/
  --texte-font: 'Times New Roman', Times, serif;
  --login-box-color: #BC647F;
  --button-color: #073B4C;
  --button-hover-color:#046c8e;
  --texte-button-color: white;

}


html, body {
  height: 100%;
  margin: 0;
  font-family:var(--texte-font);
  background-color: var(--bg-color);
}

body {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
}

#map { height: 500px; }


