<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <title>Edit Profile</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/style-navbar.css">
</head>

<body>
    <%- include('navbar') %>

    <h1>Edit Profile</h1>

    <form method="post" action="/editProfile">
    </form>
</body>
</html>
