<!DOCTYPE html>
<html lang="nl">

<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/style-navbar.css">
    <style>
        button {
            background-color: var(--button-color);
            color: var(--texte-button-color);
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
        }

        .profilepage_content table {
            border-spacing: 40px;
            /* zorgt voor afstand tussen kolommen */
            border-collapse: separate;
            /* belangrijk voor border-spacing */
        }
    </style>
</head>

<body>
    <%- include('navbar') %>
        <div class="profile">
            <table>
                <tr>
                    <th>
                        <img src="img/pfp.jpg" width="140" height="140" alt="Logo">
                    </th>
                    <th>
                        <table>
                            <tr>
                                <h2>
                                    <%= user.username %>
                                </h2>
                                <button type="edit">Edit profile</button>
                            </tr>
                        </table>
                    </th>
                </tr>
            </table>
        </div>
        <div class="profilepage_content">
            <table>
                <th>
                    <div class="friends">
                        <h2>Friends</h2>
                    </div>
                </th>
                <th>
                    <div class="trips">
                        <h2>Trips</h2>
                    </div>
                </th>
                <th>
                    <div class="bookmarks">
                        <h2>Bookmarks</h2>
                    </div>
                </th>
            </table>
        </div>
</body>

</html>
