<!DOCTYPE html>
<html lang="nl">

<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/style-navbar.css">
    <link rel="stylesheet" href="/style-profile.css">

</head>

<body>
    <%- include('navbar') %>
        <div class="profile">
            <div class="profile-header">
                <img src="img/pfp.jpg" class="pfp">
            <div class="profile-info">
                <div class="stats">
                    <div class="stat"><span>Followers:</span> <strong>0</strong></div>
                    <div class="stat"><span>Followed:</span> <strong>0</strong></div>
                </div>
            <h2 class="username"><%= user.username %></h2>
            <a href="/editProfile">
                <button class="edit-btn">Edit profile</button>
            </a>
            </div>      
        </div>
                    
        <div class="profilepage_content">
            <table>
                <th>
                    <div class="Posts">
                        <h2>My Posts</h2>
                        <button class="icone"> <img src="img/icone-camera.png"></button>
                    </div>
                </th>
                <th>
                    <div class="trips">
                        <h2>Trips</h2>
                        <button class="icone"> <img src="img/icone-trip.png" ></button>
                    </div>
                </th>
                <th>
                    <div class="bookmarks">
                        <h2>Bookmarks</h2>
                        <button class="icone"> <img src="img/icone-bookmark.png"></button>
                    </div>
                </th>
            </table>
        </div>
</body>

</html>
