body{
    overflow-y:hidden;
}

#map-layout {
    display: flex;
    margin: 0 auto;
    margin-bottom: 100px;
}

#map {
    height: 600px;
    width: 800px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;

}

#map-sidebar {
    width: 120px;
    background: white;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#map-sidebar h3 {
    margin-bottom: 10px;
    color: var(--login-box-color);
}


#map-stats p {
    margin: 7px 0;
    font-size: 16px;
    color: rgb(9, 33, 40);
}

#total-stat{
     border-top: 2px solid #eee;
}

input[type="checkbox"] {
    accent-color:  var(--button-color); 
}

.map-trip-link {
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: #19141f;
}

.map-trip-link:hover {
    color: #19141f;
}

.map-trip-link[href] {
    color: #19141f;
}